<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
    <title><%=title%></title>
</head>
<body>
    <%-include('header')%>
    <div class='todosArea'>
            <div class='todo'>
                <div class='todoHeader'>
                    
                </div>
                <div>
                    <div>content</div>
                    <div>btns</div>
                </div>
            </div>
    </div>
</body>
</html>