<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
    <title><%=title%></title>
</head>
<body>
    <%-include('header')%>
   <div class='writeArea'>
       <form method='post' action='/todo/write' class='form'>
           <div class='formTitle'>Write</div>
           <div class='formItem'><input name='title' type='text' placeholder="Title" required class='writeInput'/></div>
           <div class='formItem'><input name='date' type='date' placeholder="Date" required class='writeInput'/></div>
           <div class='formItem'><textarea name='text' rows='15' required placeholder="Input todo" class='writeText'></textarea></div>
           <div class='formItem'><input type='submit' class='submitBtn'/></div>
       </form>
   </div>
</body>
</html>