<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('head')%>
    <title><%=title%></title>
</head>
<body>
    <%-include('header')%>
   <div class='writeArea'>
       <form class='form'>
           <div class='formTitle'>Write</div>
           <div class='formItem'><input type='text' placeholder="Title" class='writeInput'/></div>
           <div class='formItem'><input type='date' placeholder="Date" class='writeInput'/></div>
           <div class='formItem'><textarea rows='15' placeholder="Input todo" class='writeText'></textarea></div>
           <div class='formItem'><input type='submit' class='submitBtn'/></div>
       </form>
   </div>
</body>
</html>